html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* * {
  outline: 2px solid tomato;
}
.box {
  margin-bottom: 50px;
  border: 5px solid tomato;
  padding: 20px;
  margin: 20px;
  background-color: tomato;
  outline: 2px solid tomato;
} */

/* .box {
  height: 400px;
  background-color: tomato;
  margin: 20px;
} */

/* section {
  background-color: tomato;
  margin-top: 10px;
}

h2 {
  margin: 0;
} */

/* .link {
  display: inline-block;
  padding: 20px 40px;
  outline: 2px solid tomato;
} */

/* .btn {
  width: 200px;
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: tomato;
  color: white;
  text-decoration: none;
} */

/* .btn {
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: tomato;
  color: white;
  text-decoration: none;
} */

/* .btn:hover,
.btn:focus {
  color: white;
  background-color: #000;
  border-color: tomato;
} */
/* 
.button {
  margin-left: 1000px;
} */

/* .btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background-color: black;
  vertical-align: middle;
} */

.box {
  width: 500px;
  height: 100px;
  background-color: teal;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  outline: 2px solid tomato;
}
