/* #000000 - цвет основного текста */
/* rgba(0, 0, 0, 0.8) - вторичный цвет текста */
/* #FFFFFF - белый цвет */
/* #18A0FB акцент */
/* #F5F5F5 вторичный цвет бекграунда */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-bg-color: #ffffff;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
.hero-title {
  color: var(--title-text-color);
}
.section-title {
  color: var(--title-text-color);
}
.feature-list .title {
  color: var(--title-text-color);
}
/* .feature-list .link {
  color: var(--accent-color);
} */
.work-list .title {
  var(--title-text-color);
}
/* button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-bg-color)
}
.button.secondary {
  background-color: var(--primary-bg-color);
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--title-text-color);
}

